// GOAL

.goal {
    margin-top: 30px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    &__list {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }

    &__item {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        
        margin-top: 20px;
        width: 180px;
        height: 100px;

        &:not(:first-child) {
            margin-left: 30px;
        }

        p {
            border: 3px solid #ADA1E6;
            background-color: #fff;
            color: #ADA1E6;

            text-align: center;
            padding: 5px 0 0;

            width: 180px;
            height: 50px;
        }

        &--done p {
            border: 3px solid #D562BE;
            color: #D562BE;
        }
    }

    &__name {
        text-transform: capitalize;

        font-weight: 600;
    }

    &__score {

        font-weight: 500;
    }

    &__new {
        display: block;
        color: #ADA1E6;
        margin: 20px 0 0 30px;

        &--hidden {
            display: none;
        }
    }
}